<template>
    <require from='./time-entries-list'></require>
    <section class="au-animate">
        <form role="form">
            <div class="form">
                <div class="row" id="tracking-row">

                    <div class="col-lg-8">
                        <div id="trackerSelectDiv" class="fields col-lg-4 col-xs-12">
                            <select class="form-control"
                                    disabled.bind="isCurrentlyTracking"
                                    value.bind="currentProject">
                                <option repeat.for="project of projects" model.bind="project.id">${project.name}
                                </option>
                            </select>
                        </div>

                        <div id="trackerDescriptionDiv" class="col-lg-8 col-xs-12">
                            <input id="trackerDescription"
                                   class="form-control" type="text"
                                   placeholder.bind="descriptionPlaceholder"
                                   disabled.bind="isCurrentlyTracking"
                                   value.bind="currentDescription">
                        </div>
                    </div>

                    <div class="buttons col-lg-4 col-xs-12">
                        <button id="toggleTracking"
                                class="btn btn-block ${isCurrentlyTracking ? 'btn-danger' : 'btn-success'}"
                                click.trigger="toggleTracking()"
                                disabled.bind="!isProjectSelected"
                                >${currentToggleLabel}
                        </button>
                    </div>
                </div>
            </div>

            </div>
        </form>

    </section>
    <time-entries-list entries.bind="timeEntries"></time-entries-list>
</template>
