`<template>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Activity</th>
                <th>Project</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Time spent</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="entry of entries">
                <td>${entry.id}</td>
                <td>${entry.description}</td>
                <td>${entry.project.name}</td>
                <td>${shortDateTime(entry.startDate)}</td>
                <td>${shortDateTime(entry.endDate)}</td>
                <td>${getDifference(entry)}</td>
                <td><span click.delegate="deleteEntry(entry.id)" class="glyphicon glyphicon-trash"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
